<li id="post-<%= post._id %>">
    <p>
        <% if(locals.user && locals.user.id==post.user.id) { %>
            <small><a href="/posts/destroy/<%= post.id %>" class="delete-post-button">X</a></small>
            <% } %>
    </p>
    <br>
    <%= post.content %>
        <i>
            <%= post.user.name %>
        </i>

        <div class="post-comments">
            <% if(locals.user) { %>
                <form action="/comments/new-comment" method="post">
                    <div>
                        <textarea name="content" id="" cols="30" rows="1" placeholder="Comment..."></textarea>
                    </div>
                    <input type="hidden" value="<%= post._id %>" name="post" id="">
                    <div>
                        <button type="submit">Comment</button>
                    </div>
                </form>
                <% } %>
        </div>
        <div class="post-comment-list">
            <ul id="post-comments-<%= post._id %>">
                <% for(comments of post.comment) { %>
                    <%- include('_comment.ejs') %>
                        <% } %>
            </ul>
        </div>
</li>